.DS_Store

logs
*.log*
*.tsbuildinfo

out/
dist/
coverage/
node_modules/

*.vsix
.vscode-test/
.vscode/*

!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

language-server/src/proto/**
workflow-schema/*
