.DS_Store

logs
*.log*
*.tsbuildinfo
*.bkp
*.tgz
*.vsix

out/
dist/
coverage/
node_modules/

.vscode-test/
.vscode/*

!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

packages/node/vro-language-server/src/proto
workflow-schema/*
