.vscode/**
.vscode-test/**
.idea/**
.github/**

assets/images/**
build/**
typings/**
protocol/**
**/src/**
**/out/__tests__/**

**/*.ts
**/*.map

.editorconfig
.gitignore
.gitattributes
.yarnrc
.eslintignore
.eslintrc*
.prettierrc*

CODE_OF_CONDUCT.md
CONTRIBUTING.md

*.vsix
**/tsconfig.json
gulpfile.js
yarn.lock
yarn-debug.log
yarn-error.log

!node_modules/**
