.vscode/**
.vscode-test/**
.idea/**
.github/**

assets/images/**
build/**
typings/**
packages/**
wiki/**
tools/**
**/src/**
**/out/**
**/coverage

**/*.ts
**/*.map
**/*.config.js
**/*.eslint.json
**/*.tsbuildinfo
**/tsconfig.json

.editorconfig
.gitignore
.gitattributes
.npmrc
.eslintignore
.eslintrc*
.prettierrc*

*.vsix
gulpfile.js
package-lock.json
extension/dist/package.json

node_modules/**

!packages/node/vro-language-server/dist/langserver.js
