.vscode/**
.vscode-test/**
.idea/**
.github/**

assets/images/**
build/**
typings/**
protocol/**
wiki/**
tools/**
**/src/**
**/out/__tests__/**
**/coverage

**/*.ts
**/*.map
**/*.config.js
**/*.eslint.json
**/*.tsbuildinfo
**/tsconfig.json

.editorconfig
.gitignore
.gitattributes
.npmrc
.eslintignore
.eslintrc*
.prettierrc*

CODE_OF_CONDUCT.md
CONTRIBUTING.md

*.vsix
gulpfile.js
package-lock.json

!node_modules/**
