version-sign-git-tag false
version-tag-prefix "v"
version-git-message "v%s"

registry "https://registry.yarnpkg.com"
"@types:registry" "https://registry.yarnpkg.com"
"@protobufjs:registry" "https://registry.yarnpkg.com"

--install.ignore-engines true
--add.ignore-engines true
