registry "https://registry.yarnpkg.com"
"@types:registry" "https://registry.yarnpkg.com"
"@protobufjs:registry" "https://registry.yarnpkg.com"
--install.ignore-engines true
--add.ignore-engines true
--version.no-git-tag-version true
