name: Lint Pull Request

on:
  pull_request:
    branches:
      - master

permissions:
  actions: write
  contents: read

jobs:
  lint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install latest npm version
        run: npm install -g npm

      - name: reviewdog
        uses: reviewdog/action-eslint@9b5b0150e399e1f007ee3c27bc156549810a64e3 # v1.33.0
        with:
          reporter: github-pr-review
          eslint_flags: "packages/node/vrdt-common/src/**/*.ts packages/node/vro-language-server/src/**/*.ts extension/src/**/*.ts "
